{{> header title='Webpack'  }}

<div class="reveal">
  <div class="slides">
    
    {{> ./webpackPage/1.hbs }}
    {{> ./webpackPage/2.hbs }}

    {{!-- 前端模块化 --}}
    {{> ./webpackPage/3-0.hbs }}
    {{> ./webpackPage/3-1.hbs }}
    {{> ./webpackPage/3-2.hbs }}
    {{> ./webpackPage/3-3.hbs }}
    {{> ./webpackPage/3-4.hbs }}
    {{> ./webpackPage/3-5.hbs }}
    {{> ./webpackPage/3-6.hbs }}
    {{> ./webpackPage/3-7.hbs }}

    {{!-- webpack 核心思想和基本概念 --}}
    {{> ./webpackPage/4-0.hbs }}
    {{> ./webpackPage/4-1.hbs }}
    {{> ./webpackPage/4-2.hbs }}
    {{> ./webpackPage/4-3.hbs }}
    {{> ./webpackPage/4-4.hbs }}

    {{!-- webpack 打包原理--}}
    {{> ./webpackPage/5.hbs }}

    {{!-- 实践--}}
    {{> ./webpackPage/6.hbs }}
    {{> ./webpackPage/7.hbs }}

  </div>
</div>


{{> footer }}