  <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
    <a class="navbar-brand " href="#">MT</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="wp.html">Webpack</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="d3.html">D3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  </nav>