<section data-markdown>
  <script type='text/template'>
    <p class='ta-c'>webpack入门及实践</p>
    * 从前端模块化说起
    * webpack 核心思想及基本概念
    * webpack 打包原理
    * 用 webpack4.x 搭一个简单的多页项目
  </script>
</section>