<section>
    <p class='ta-c'>为什么需要模块化</p>
</section>
<section data-markdown>
  <script type='text/template'>
    * 代码量骤增，沉重的单文件代码维护
    * 实现代码分治管理
    * 确保模块的作用域独立，避免命名冲突
    * 管理模块的依赖关系，避免重复加载与循环引用
    * 实现按需加载，降低 HTTP 请求
    * 取代人工维护依赖关系
  </script>
</section>