  <section>
      <p class='ta-c'>前端模块化简史</p>
  </section>
  <section data-markdown>
    <script type='text/template'>
      * 传统模块化
      * CommonJS 
      * AMD 
      * CMD 
      * ES6
    </script>
  </section>