<section data-markdown>
  <script type='text/template'>
    <p class='ta-c'>webpack入门与实践</p>
    * 从前端模块化说起
    * 基本概念

    * 入口(entry)
    * 输出(output) 
    * loader 
    * 插件(plugins)
  </script>
</section>