  <section>
      <p class='ta-c'>传统模块化</p>
  </section>
  <section data-markdown>
    <script type='text/template'>
      * `script`标签引入
      * 命名空间 `aaa.bbb.ccc.ddd = { }`
      * 闭包 (不污染全局但没有解决人工管理依赖)
    </script>
  </section>