  <section>
    <p>ES6 模块特点</p>
  </section>
  <section data-markdown>
    <script type='text/template'>
      * 尽量的静态化
      * 容易进行静态分析
      * 编译时就能确定模块的依赖关系
      * 其它规范是运行时确定模块依赖关系
    </script>
  </section>