  <section>
    <p>前端模块加载方式</p>
  </section>
  <section data-markdown>
    <script type='text/template'>
      * 一次请求加载导致流量浪费、初始化过程慢
      * 每个模块单独请求造成请求过多,启动速度慢
      * 分块传输,懒加载,增量更新
    </script>
  </section>
  <section class="ta-l">
    <p>要实现模块的按需加载，就需要一个对整个代码库中的模块进行静态分析、编译打包的过程。Webpack就是在这种需求下诞生的。</p>
  </section>