<section>
  <section data-markdown>
    <script type='text/template'>
      <p class='ta-c'>webpack的本质</p>
    </script>
  </section>
  <section>
    本质上，webpack 是一个现代 JavaScript 应用程序的静态模块打包器。
  </section>
  <section>
    前端模块化
    http://www.cnblogs.com/iceJava/p/5399715.html
  </section>
</section>