  <section>
    <p>webpack 核心思想及基本概念</p>
  </section>
  <section class='ta-l'>
    <p>核心思想：资源皆模块</p>
    <p>前面提到的前端模块化只限于js。webpack 会把样式、图片、字体、HTML 模板等资源都视作模块。</p>
  </section>

  <section data-markdown>
    <script type='text/template'>
      * 入口(entry)
      * 出口(output) 
      * 加载器(loader)
      * 插件(plugins)
    </script>
  </section>
