
  <section class='ta-l'>
    <p>入口:前端应用的启动文件(一个或多个)</p>
    <p>是webpack构建内部依赖图的开始</p>
  </section>
  <section data-markdown>
    <script type='text/template'>
      ```javascript
        entry: {
          one: ['./src/one.js', './src/one.css'],
          two: './src/two.js',
        }
      ```
    </script>
  </section>