
  <section>
    <p>出口:打包后的资源存放位置</p>
  </section>
  <section data-markdown>
    <script type='text/template'>
      ```javascript
        output: {
          // 运行时或载入时创建的 URL 前缀
          publicPath: '/', 
          // 输出目标文件夹
          path: path.resolve(__dirname, 'dist'), 
          // 输出的路径及文件名
          filename: 'js/[name].js'
        }
      ```
    </script>
  </section>

