<section class="ta-l">
    <p>插件: 打包优化、压缩、重新定义环境变量等一系列<span class="co-y">强大</span>功能</p>
  </section>
  <section data-markdown>
    <script type='text/template'>
      ```javascript
        new CopyWebpackPlugin([{
          from: path.resolve(__dirname, "./src/lib"),
          to: 'lib',
        }]),
      ```
    </script>
  </section>